@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);
@font-face {
  font-family: "Shabnam";
  src:
    url("/fonts/Shabnam-Light.woff2") format("woff2"),
    url("/fonts/Shabnam-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src:
    url("/fonts/Shabnam-Regular.woff2") format("woff2"),
    url("/fonts/Shabnam-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src:
    url("/fonts/Shabnam-Medium.woff2") format("woff2"),
    url("/fonts/Shabnam-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src:
    url("/fonts/Shabnam-Bold.woff2") format("woff2"),
    url("/fonts/Shabnam-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-display: "Shabnam", system-ui, sans-serif;
  --color-indigo-50: #f5f5fa;
  --color-indigo-100: #e9e9f2;
  --color-indigo-200: #d1d1e2;
  --color-indigo-300: #aeaec9;
  --color-indigo-400: #8585aa;
  --color-indigo-500: #606087;
  --color-indigo-600: #48486a;
  --color-indigo-700: #343451;
  --color-indigo-800: #292940;
  --color-indigo-900: #202033;
  --color-indigo-950: #141420;

  --header-height: 92px;
}

.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-display);
  overflow-x: hidden;
}

::selection {
  background: var(--color-indigo-500);
  color: white;
}

@keyframes toast-progress {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
.portfolio-toast {
  right: 0;
}
@media screen and (min-width: 768px) {
  .portfolio-toast {
    right: max(32px, calc((100vw - 72rem) / 2 - 32px)) !important;
  }
}
