@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Shabnam";
  src:
    url("/fonts/Shabnam-Light.woff2") format("woff2"),
    url("/fonts/Shabnam-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src:
    url("/fonts/Shabnam-Regular.woff2") format("woff2"),
    url("/fonts/Shabnam-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src:
    url("/fonts/Shabnam-Medium.woff2") format("woff2"),
    url("/fonts/Shabnam-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src:
    url("/fonts/Shabnam-Bold.woff2") format("woff2"),
    url("/fonts/Shabnam-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Shabnam", system-ui, sans-serif;
  overflow-x: hidden;
}

::selection {
  background: var(--color-indigo-500);
  color: white;
}

@theme {
  --color-indigo-50:#F5F5FA;
  --color-indigo-100:#E9E9F2;
  --color-indigo-200:#D1D1E2;
  --color-indigo-300:#AEAEC9;
  --color-indigo-400:#8585AA;
  --color-indigo-500:#606087;
  --color-indigo-600:#48486A;
  --color-indigo-700:#343451;
  --color-indigo-800:#292940;
  --color-indigo-900:#202033;
  --color-indigo-950:#141420;
}